/* ======================
   Base Styles
====================== */
body {
  font-family: "Aboreto", system-ui;
  background: #101717 url("images/background.png") no-repeat center / cover;
  color: #e6ddc6;
  margin: 0;
}

/* ======================
   Header & Navigation
====================== */
.site-header {
  background: #101717;
  padding: 20px;
  text-align: center;
}

.site-header h1 {
  font-family: "Amarante", serif;
  letter-spacing: 2px;
  color: #4a4e3d;
  font-size: 64px;
  margin: 0;
}

.nav {
  background: #995529;
  padding: 5px 20px;
  border-radius: 7px;
  display: inline-block;
}

nav a {
  font-family: "Cinzel", serif;
  color: #c89b5a;
  margin: 0 3px;
  text-decoration: none;
}

nav a:hover {
  color: #e1b476;
  text-decoration: underline;
}

/* ======================
   Hero Section
====================== */
.hero {
  background: #596352;
  color: #929476;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.hero h2 {
  font-family: "Amarante", serif;
  font-weight: 200;
  color: #4a4e3d;
  font-size: 50px;
  margin-bottom: 20px;
}
.hero .herotext {
  font-size: 18px;
  margin-top: -20px;
}

/* ======================
   Main Content
====================== */

.content {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.card {
  flex: 1;
  background: rgba(89, 99, 82, 0.5);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.content .image-card {
  flex: 0.8;
}

.card h3 {
  font-family: "Amarante", serif;
  color: #929476;
  font-size: 36px;
  margin-bottom: 20px;
}

.image-card img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border: 2px solid #995529;
}

/* ======================
   Specials
====================== */
.specials {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}

.specials img {
  width: 100px;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  background: #000;
  border: 2px solid #995529;
}

/* ======================
   Contact Section
====================== */
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  background: #0f1817;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.contact h3 {
  font-family: "Amarante", serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #929476;
  font-weight: 300;
}

/* ======================
   Forms
====================== */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.contact input,
.contact textarea {
  background-color: #bba270;
  color: #0f1817;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #0f1817;
  opacity: 1;
  background-color: #bba270;
}

input,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-family: inherit;
}

textarea {
  min-height: 120px;
}

button {
  background: #c89b5a;
  border: none;
  padding: 10px;
  font-family: "Cinzel", serif;
  cursor: pointer;
}

button:hover {
  background: #b4884d;
}

/* ======================
   Text
====================== */
p {
  color: #929476;
  font-size: 13px;
  line-height: 1.6;
}

/* ======================
   Footer
====================== */
footer {
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  opacity: 0.8;
}
